.navbar-brand {
	margin-right: 32px;
}
.navbar-brand > img {
	width: 70px;
}
.gap {
	gap: 41px;
}
.btn {
	color: #ffffff !important;
	font-size: 24px;
	line-height: 27.6px;
	font-weight: 700;
}
.head {
	width: 190px;
}
body.modal-open .modal {
	display: flex !important;
	height: 100%;
}
body.modal-open .modal .modal-dialog {
	margin: auto;
}